a {padding: 50px 70px}
.container {width: 50%;height: 35%;background-color: yellow}
header {color:#d70000;}
.sideone {float: left;}
.sidetwo {float: right}
p {padding: 25px 20px;}
div {width:90% auto;background-color: black;color:blue;}
<link rel="stylesheet" href="https://www.gstatic.com/_/freebird/_/ss/k=freebird.v.-1vl4zhaud1vbk.L.W.O/d=1/rs=AMjVe6h7tK
ZlBmgu6Vgh2emQ76gBZ9_2QA" data-id="_cl">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=latin,vietnamese,latin-ext,cyrillic,greek,cyrillic-ext,greek-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Product+Sans&subset=latin,vietnamese,latin-ext,cyrillic,greek,cyrillic-ext,greek-ext" rel="stylesheet" type="text/css">